<h3>Create Bill</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="paymentsaveform" #savepayment (ngSubmit)="savePayment(savePayment)">
          <div class="form-group">
              <label for="name">Payer Name</label>
              <input type="text" class="form-control"  formControlName="payername" data-toggle="tooltip"
                 data-placement="right" title="Enter Payer Name" >
              <div class="alert alert-danger" *ngIf = "(PayerName.touched) && (PayerName.invalid)"
                style="margin-top: 5px;">
                  <span *ngIf="PayerName.errors.required">Payer Name is Required</span>
                    <span *ngIf = "PayerName.errors.minlength">
                        MinLength Error
                    </span>
                </div>
          </div>

          <div class="form-group">
              <label for="name">Payer Email</label>
              <input type="text" class="form-control" formControlName="payeremail"
                data-toggle="tooltip" data-placement="right" title="Enter PayerEmail">
                <div class="alert alert-danger" *ngIf = "(PayerEmail.touched) && (PayerEmail.invalid)"
                style="margin-top: 5px;">
                  <span *ngIf="PayerEmail.errors.required">Student Email is Required</span>
                    <span *ngIf = "PayerEmail.errors.email">
                        Invalid Email Format
                    </span>
                </div>
          </div>

          <div class="form-group">
            <label for="name">Payer Phone</label>
            <input type="number" class="form-control" formControlName="phone"
              data-toggle="tooltip" data-placement="right" title="Enter phone number">
              <div class="alert alert-danger" *ngIf = "(Phone.touched) && (Phone.invalid)"
              style="margin-top: 5px;">
                <span *ngIf="Phone.errors.required">Payer Phone number is Required</span>
                  <span *ngIf = "Phone.errors.minlength">
                      Invalid Phone number
                  </span>
              </div>
         </div>
          <div class="form-group">
            <label for="name">Product Info</label>
            <input type="text" class="form-control"  formControlName="productInfo" data-toggle="tooltip"
              data-placement="right" title="Enter Product Info " >
              <div class="alert alert-danger" *ngIf = "(ProductInfo.touched) && (ProductInfo.invalid)"
                style="margin-top: 5px;">
                  <span *ngIf="ProductInfo.errors.required">Product Info is Required</span>
                    <span *ngIf = "ProductInfo.errors.minlength">
                        MinLength Error
                    </span>
              </div>
            </div>

            <div class="form-group">
              <label for="name">Transaction ID</label>
              <input type="text" class="form-control"  formControlName="txnId" data-toggle="tooltip"
                data-placement="right" title="Enter Transaction ID" >
                <div class="alert alert-danger" *ngIf = "(TxnId.touched) && (TxnId.invalid)"
                  style="margin-top: 5px;">
                    <span *ngIf="TxnId.errors.required">Product Info is Required</span>
                      <span *ngIf = "TxnId.errors.minlength">
                          MinLength Error
                      </span>
                </div>
              </div>

              <div class="form-group">
                <label for="name">Payable Amount</label>
                <input type="text" class="form-control"  formControlName="amount" data-toggle="tooltip"
                  data-placement="right" title="Enter Amount" >
                  <div class="alert alert-danger" *ngIf = "(Amount.touched) && (Amount.invalid)"
                    style="margin-top: 5px;">
                      <span *ngIf="Amount.errors.required">Amount is Required</span>
                        <span *ngIf = "Amount.errors.minlength">
                            MinLength Error
                        </span>
                  </div>
              </div>


              <div class="form-group">
                <label for="name">Merchect Id</label>
                <input type="text" class="form-control"  formControlName="mihpayId" data-toggle="tooltip"
                  data-placement="right" title="Enter Merchect" >
                  <div class="alert alert-danger" *ngIf = "(MihpayId.touched) && (MihpayId.invalid)"
                    style="margin-top: 5px;">
                      <span *ngIf="MihpayId.errors.required">Merchect Id Required</span>
                        <span *ngIf = "MihpayId.errors.minlength">
                            MinLength Error
                        </span>
                  </div>
              </div>


              <div class="form-group">
                <label for="name">Payer Address </label>
                <input type="text" class="form-control"  formControlName="payeraddress" data-toggle="tooltip"
                  data-placement="right" title="Enter payeraddress" >
                  <div class="alert alert-danger" *ngIf = "(Payeraddress.touched) && (Payeraddress.invalid)"
                    style="margin-top: 5px;">
                      <span *ngIf="Payeraddress.errors.required">Payeraddress is Required</span>
                        <span *ngIf = "Payeraddress.errors.minlength">
                            MinLength Error
                        </span>
                  </div>
              </div>

              <div class="form-group">
                <label for="name">Payable Account Number</label>
                <input type="text" class="form-control"  formControlName="accountnumber" data-toggle="tooltip"
                  data-placement="right" title="Enter Accountnumber" >
                  <div class="alert alert-danger" *ngIf = "(Accountnumber.touched) && (Accountnumber.invalid)"
                    style="margin-top: 5px;">
                      <span *ngIf="Accountnumber.errors.required">Accountnumber is Required</span>
                        <span *ngIf = "Accountnumber.errors.minlength">
                            MinLength Error
                        </span>
                  </div>
              </div>


          <!-- <div class="form-group">
              <label for="branch">Student Branch</label>
                <select class="form-control" formControlName="student_branch" data-toggle="tooltip"
                      data-placement="right" title="Select Student Branch">
                    <option value="null">--Select Branch--</option>
                  <option value="B-Tech">B-Tech</option>
                  <option value="BCA">BCA</option>
                  <option value="MCA">MCA</option>
                  <option value="M-Tech">M-Tech</option>
                </select>
          </div> -->

          <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>


<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div [hidden]="!submitted">
         <h4>Bill Added SuccessFully!</h4>
         <button (click)="addPaymentForm()" class='btn btn-primary'>Add More Bills</button>
      </div>
  </div>
  <div class="col-sm-4"></div>
</div>


